body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--font-color-light);
  color: var(--font-color-dark);
  font-size: 14px;
  letter-spacing: 0.03em;
}

:root {
  --logo-and-hover: #2196f3;
  --footer-and-back-solution: #2f303a;
  --font-color-dark: #212121;
  --back-for-section: #eeeeee;
  --color-for-text-characterizing-the-content-in-the-form:#757575;
  --button-colors-in-the-sorter:#f5f4fa;
  --font-color-light:#ffffff;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  color: var(--logo-and-hover);
}

.menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--font-color-dark);
}

.menu:hover {
  color: var(--logo-and-hover);
}

.menu.current {
  background-color: var(--acent-color);
}

.link {
  text-decoration: none;
}

section {
  list-style: none;
}

header {
  display: inline-block;
  padding: 15px;
}

ul {
  list-style: none;
  display: inline-block;
}

.button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--font-color-dark);
  background: var(--button-colors-in-the-sorter);
  border-radius: 4px;
}

.button:hover {
  color: #fff;
  background: var(--logo-and-hover);
  transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.spanwhite {
  color: #fff;
}

.spanblack {
  color: #000;
}

footer {
  background-color: var(--footer-and-back-solution);
}

.textfooter {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: 0.03em;

  color: var(--font-color-light);
}

.textfooter:hover {
  color: var(--logo-and-hover);
  transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.filling {
  font-size: 18px;
  background-color: var(--back-for-section);
}

.headerP {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;

  letter-spacing: 0.06em;

  color: var(--font-color-dark);
}

.textP {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.03em;

  color: var(--color-for-text-characterizing-the-content-in-the-form);
}

.textEI {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-for-text-characterizing-the-content-in-the-form);
}

.headerEI {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: var(--font-color-dark);
}

.headerDI {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--font-color-dark);
}

.textDI {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--color-for-text-characterizing-the-content-in-the-form);
}

.what-are-we-doing-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--font-color-dark);
}

.effective-solution-for-your-business {
  background: var(--footer-and-back-solution);
}

.font-effective-solution-for-your-business {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--font-color-light);
}

.button-effective-solution-for-your-business {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
 

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--font-color-light);

  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-effective-solution-for-your-business:hover {
  background: var(--logo-and-hover);
  transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
